.jumbotron {
	background-color: #7af9dc;
}

/* Main Color
----------------------------------------------------------------------------- */
.main-color { color: #d32f2f; }



/* Background Colors
============================================================================= */
/* Main Background
----------------------------------------------------------------------------- */
.main-background-color,
.main-background-color * {
    color: #ffffff !important;
}
.main-background-color { background-color: #d32f2f !important; }
